<div class="page-header">
	<div class="row">
		<h1>
			Custom Asset Web Wallet
		</h1>
		<div class="col-xs-10 col-xs-offset-1">
			<h2>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Atqui iste locus est, Piso, tibi etiam atque etiam confirmandus, inquam; Sapientem locupletat ipsa natura, cuius divitias Epicurus parabiles esse docuit. Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Hic nihil fuit, quod quaereremus. Duo Reges: constructio interrete. At cum de plurimis eadem dicit, tum certe de maximis. Utilitatis causa amicitia est quaesita.
			</h2>
		</div>
	</div>
</div>
