<div class="well">

	<h2>Sign Up</h2>

	<form class="form-horizontal">

		<p>Private key: {{ key.seed() }}</p>
		<p>Address: {{ key.accountId() }}</p>

		<p>Write down the generated private key before continuing.</p>
		<fieldset>
			<div class="alert alert-danger" ng-show="error">{{ error }}</div>

			<div class="form-group">
				<div class="col-xs-4 col-xs-offset-4 text-center">
					<img ng-show="isPending" src="images/spinner.gif">
				</div>
				<div class="col-xs-4 text-right">
					<button type="button" class="btn btn-default" ng-click="generate()">Generate</button>
					<button type="button" class="btn btn-success" ng-click="register()">Sign up</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
